<h1>{{product.name}}</h1>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <img src="{{product.image}}" class="img-fluid" alt="Responsive image">
  </div>
  <div class="col-xs-12 col-md-8">
    <p>{{product.description}}</p>
    <b>Donated By: {{product.donatedBy.username}}</b>
    <br>
    <br>
    <p> Available Tickets: {{availableTickets}} <i class="fas fa-ticket-alt"></i> - Price: ${{ticketPrice}}.00</p>
    {{#if user}}
    {{#if available}}
    <form method="POST" action="/bought-ticket/{{_id}}">
      <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
        data-preference-id='{{preferenceId}}'>
        </script>
    </form>
    {{/if}}
    {{else}}
    <a href="/auth/login">login for buy</a>
    {{/if}}
    {{#each soldTickets}}
    {{#if winner}}
    <center>
      <h2 class="text-success"><i class="fas fa-award"></i></h2>
      <h3 class="text-success">Winner: {{owner.username}}</h3>
    </center>
    {{/if}}
    {{/each}}
    {{#if finished}}
    <h2 class="text-danger">This raffle has ended</h2>
    {{/if}}
  </div>

</div>

<script>
  const $mpbutton = document.querySelector('.mercadopago-button')
  $mpbutton.classList.add('btn', 'btn-block', 'btn-success')
  $mpbutton.classList.remove('mercadopago-button')
</script>